<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
 <link rel="stylesheet" href="/stylesheets/admin/dashboard.css">
 <script src="script.js"></script>
<body>
    <header>
        <div class="logo">
            <object type="image/svg+xml" data="/images/bl.svg">
                company logo
            </object>
        </div>
        <div class="link-container">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </div>
        <div class="button-container">
            <!-- <button class="login">log in</button>
            <button class="signup">sign up</button>-->
        </div> 
    </header>
   </div>
       <a href="/admin/logout" class="logout">LOG OUT</a>
   </div>
    <div style="width: 100%; display: flex;justify-content: center;">
 <div class="container">
    <% if (sellers.length == 0) { %>
     <h1>No Sellers</h1>
    <% }else{ %>
        <% for( let i = 0; i < sellers.length; i++ ) { %>
       <div class="veri">
        <div class="msg"><%= sellers[i].dataValues.name %></div>
        <a href="/admin/report/<%= sellers[i].dataValues.id %>" class="accept"><object  type="image/svg+xml" data="/images/report.svg">
        report 
        </object></a>
        <a href="/admin/history/<%= sellers[i].dataValues.id %>" class="accept"><object  type="image/svg+xml" data="/images/history.svg">
            history
            </object></a>
        <a href="/admin/delete/<%=sellers[i].dataValues.id  %>"  class="reject"><object  type="image/svg+xml" data="/images/wrong.svg">
            cross
        </object></a>
       </div>
       <% } %>
       <% } %>

      
      
       
 </div>
</div>

 <footer class="footer">
        <div class="logo">
            <object type="image/svg+xml" data="/images/wh.svg">
                company logo
            </object>
        </div>
        <div class="link-container">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </div>
        <div class="svg">
            <div class="circle">
                 <object  type="image/svg+xml" data="/images/Vector-1.svg">
                instagram logo
            </object>
                </div>

            <div class="circle"> 
                <object type="image/svg+xml" data="/images/Vector.svg">
                linkedin logo
            </object></div>
        </div>
    </footer>
</body>
</html>
