<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up Form</title>
 <link rel="stylesheet" href="/stylesheets/admin/signup.css">
 <!-- <script src="signup.js"></script> -->
<body>
    <header>
        <div class="logo">
            <object type="image/svg+xml" data="/images/bl.svg">
                company logo
            </object>
        </div>
        <div class="link-container">
            <ul>
                <li><a href="/home/index.html">home</a></li>
                <li><a href="/about/index.html">about</a></li>
                <li><a href="/contact/index.html">contact</a></li>
            </ul>
        </div>
        <div class="button-container">
            <!-- <button class="login">log in</button>
            <button class="signup">sign up</button>-->
        </div> 
    </header>

  <form action="signup" method="post" class="signup-container">
    <div class="signup-heading">SIGN UP</div>

    <div class="form-container">
      <label for="email" class="form-label ">Email</label>
      <input type="email" name="email" id="email" required class="signup-input hi" >
    </div>

    <div class="form-container">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" required id="password" class="signup-input" >
    </div>

    <button class="signup-button">Sign Up</button>

    <div class="already" >Already have an account? <a href="/admin/login">log in here</a></div>
  </form>


 <footer class="footer">
        <div class="logo">
            <object type="image/svg+xml" data="/images/wh.svg">
                company logo
            </object>
        </div>
        <div class="link-container">
            <ul>
                <li><a href="/home/index.html">home</a></li>
                <li><a href="/about/index.html">about</a></li>
                <li><a href="/contact/index.html">contact</a></li>
            </ul>
        </div>
        <div class="svg">
            <div class="circle">
                 <object  type="image/svg+xml" data="/images/Vector-1.svg">
                instagram logo
            </object>
                </div>

            <div class="circle"> 
                <object type="image/svg+xml" data="/images/Vector.svg">
                linkedin logo
            </object></div>
        </div>
    </footer>
</body>
</html>
