<footer>
    <div class="logo">
      <object id="hdlogo" type="image/svg+xml" data="/images/wh.svg">
        company logo
      </object>
    </div>
    <div class="link-container">
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/contact">contact</a></li>
      </ul>
    </div>
    <div class="hidden">
    
      <div class="svg">
        <div class="circle">
          <object type="image/svg+xml" data="/images/Vector-1.svg">
            instagram logo
          </object>
        </div>
        <div class="circle">
          <object type="image/svg+xml" data="/images/Vector.svg">
            linkedin logo
          </object>
        </div>
      </div>
    </div>
  </footer>