<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up Form</title>
 <link rel="stylesheet" href="/stylesheets/buyer/login.css">
 <script src="script.js"></script>
<body>
    
    <%- include('../components/nav') %>
    <div class="container">
    <form action="login" method="post" class="login-container">
        <div class="login-heading">LOG IN</div>
    
        <div class="form-container">
          <label for="username" class="form-label">Email</label>
          <% if (emailExist) { %>
            <input type="text" id="username" name="email" required class="login-input">
          <% }else{ %>
            <input type="text" id="username" placeholder="Email Doesn't Exist" required name="email" class="login-input">
         <% } %>
        </div>
    
        <div class="form-container">
          <label for="password" class="form-label">Password</label>
          <% if (passwordError) { %>
            <input type="password" style="margin-left: -30px;" name="password" required placeholder="Wrong Password" id="password" class="login-input">
          <% }else{ %>
          <input type="password" style="margin-left: -30px;" name="password" required id="password" class="login-input">
          <% } %>
        </div>
    
        <button class="login-button" onclick="validateLogin()">Log In</button>
         <div class="already" >Don't have an account?<a href="/seller/signup">sign up here</a></div>
      </div>
    </div>

    <%- include('../components/footer') %>
</body>
</html>