
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Set the character set and viewport for proper rendering on different devices -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Set the title of the webpage -->
    <title>PET DESK</title>
    <!-- Include external stylesheet for additional styling -->
    <link rel="stylesheet" href="/stylesheets/about.css">
    <!-- Include Google Fonts for the Trip Sans font family -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Trip+Sans:wght@400;700&display=swap" />
</head>
<body>
    <!-- Header section containing the logo, navigation links, and buttons -->
    <%- include('components/nav') %>
<div class="parent">
    <div class="container">
        <div class="heading"><h1>ABOUT</h1></div>
        <div class="description">
            <div class="hi"><h2>"Discover the heart behind</h2></div>
            <div class="hii"><h2>petdex"</h2></div>
            <div class="hiii"><p>Learn about our mission to connect loving pet owners with responsible sellers.Meet the passionate team dedicated </p></div>
            <div class="hiiii"><p>to creating a safe and enjoyable environment for pet enthusiasts like</p></div>
        </div>
    </div>
</div>

    <!-- Footer section -->
    <%- include('components/footer') %>
</body>
</html>
