<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PET DESK</title>
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/contact.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Trip+Sans:wght@400;700&display=swap" />

</head>
<body>
    <%- include('components/nav') %>
    <div class="parent">
  <div class="container">
      <div class="small"><p>"We're here to assist you!</p></div>
      <div class="heading">CONTACT</div>
      <div class="description">
         <div class="text">
            <p>Our dedicated customer support</p>
            <p>team is ready to address your</p>
            <p>inquiries and ensure a seamless</p>
            <p>experience on petdex</p>
            </div>
         <div class="icon">
            <div class="circle1">
                <object  type="image/svg+xml" data="/images/Vector-1.svg">
                 instagram logo
                </object>
          </div>
            <div class="circle1"> 
                <object type="image/svg+xml" data="/images/Vector.svg">
                 linkedin logo
                </object>
            </div>
         </div>
        </div>
  </div>
</div>

<%- include('components/footer') %>
</body>
</html>