<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PET DESK</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Trip+Sans:wght@400;700&display=swap"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <object type="image/svg+xml" data="/images/bl.svg">company logo</object>
      </div>
      <div class="link-container">
        <ul>
          <li><a href="/home/index.html">home</a></li>
          <li><a href="/about/index.html">about</a></li>
          <li><a href="/contact/index.html">contact</a></li>
        </ul>
      </div>
      <div class="button-container">
        <a href="/loginfor/index.html"><button class="login">log in</button></a>
        <a href="/signup/index.html"><button class="signup">sign up</button></a>
      </div>
    </header>
    <div class="content">
      <div class="welcome"><p>welcome to</p></div>
      <div class="heading"><h1>PETDEX</h1></div>
      <div class="description">
        <p>
          Your go-to destination for finding the perfect fury companion.Explore
          <br />
          our featured pets, search for specific breeds, and embark on a journey
          <br />
        </p>
        <p class="hi">to find your ideal pet companion.</p>
      </div>
      <div class="start-btn">
        <a href="/users"
          ><button class="start">start now</button></a
        >
      </div>
    </div>
    <footer>
      <div class="logo">
        <object id="hdlogo" type="image/svg+xml" data="/images/wh.svg">
          company logo
        </object>
      </div>
      <div class="link-container">
        <ul>
          <li><a href="/home/index.html">home</a></li>
          <li><a href="/about/index.html">about</a></li>
          <li><a href="/contact/index.html">contact</a></li>
        </ul>
      </div>
      <div class="hidden">
        <div class="llogo">
          <object type="image/svg+xml" data="/images/wh.svg">
            company logo
          </object>
        </div>
        <div class="svg">
          <div class="circle">
            <object type="image/svg+xml" data="/images/Vector-1.svg">
              instagram logo
            </object>
          </div>
          <div class="circle">
            <object type="image/svg+xml" data="/images/Vector.svg">
              linkedin logo
            </object>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
