<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PET DESK</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Trip+Sans:wght@400;700&display=swap"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
   <%- include('components/nav') %>
    <div class="content">
      <div class="welcome"><p>welcome to</p></div>
      <div class="heading"><h1>PETDEX</h1></div>
      <div class="description">
        <p>
          Your go-to destination for finding the perfect fury companion.Explore
          <br />
          our featured pets, search for specific breeds, and embark on a journey
          <br />
        </p>
        <p class="hi">to find your ideal pet companion.</p>
      </div>
      <div class="start-btn">
        <a href="/users/login"
          ><button class="start">start now</button></a
        >
      </div>
    </div>
    <%- include('components/footer') %>
  </body>
</html>
