
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Set the character set and viewport for proper rendering on different devices -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Set the title of the webpage -->
    <title>PET DESK</title>
    <!-- Include external stylesheet for additional styling -->
    <link rel="stylesheet" href="/stylesheets/users.css">
    <!-- Include Google Fonts for the Trip Sans font family -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Trip+Sans:wght@400;700&display=swap" />
</head>
<body>
    <!-- Header section containing the logo, navigation links, and buttons -->
    <%- include('components/nav') %>
       <div class="content">
        <div class="heading">
            <h1>Welcome to petdex To tailer your experience,please</h1>
            <h1><p>select the option that best describes you:</p></h1>
        </div>
       <div class="description">
        <a href="<%= (login) ? '/buyer/login' : '/buyer/signup' %>">
            <div class="buyer">
                <div class="head"><h2>BUYER</h2></div>
                <div class="descri">
                   <p>Ready to bring a new fury companion</p>
                   <p>into your life? Choose 'Buyer' to explore</p>
                   <p>our listings,save your favorite pets,and</p>
                   <p>connect with sellers</p>
                </div>  
            </div>
        </a>
        <a href="<%= (login) ? '/seller/login' : '/seller/signup' %>">
            <div class="seller">
                <div class="head"><h2>SELLER</h2></div>
                   <div class="descri">
                      <p>Are you a pet owner looking to find a</p>
                      <p>loving home for your fury friend? Select</p>
                      <p>'Seller' to manage your pet listings and</p>
                      <p>connect with potential adopters</p>
                   </div>
                </div>
            </a>
            </div>
       </div>
    


    <!-- Footer section -->
    <%- include('components/footer') %>
</body>
</html>