<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up Form</title>
 <link rel="stylesheet" href="/stylesheets/buyer/signup.css">
 <script src="script.js"></script>
 
<body>
    <%- include('../components/nav') %>

    <div class="container">
  <form action="signup" method="post" class="signup-container">
    <div class="signup-heading">SIGN UP</div>

    <div class="form-container">
      <label for="username" class="form-label">Name</label>
      <input type="text" name="name" id="username" class="signup-input" >
    </div>

    <div class="form-container">
      <label for="email" class="form-label ">Email</label>
      <% if (emailExist) { %>
        <input type="email" name="email" placeholder="Email Already Exist" id="email" class="signup-input hi" >
      <% }else{ %>
      <input type="email" name="email"  id="email" class="signup-input hi" >
      <% } %>
    </div>
    <div class="form-container">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" id="password" class="signup-input" >
    </div>
    <div class="form-container" >
      <label for="username" class="form-label">Place</label>
      <input list="districts" name="place" class="signup-input">
      <datalist id="districts">
          <option value="Thiruvananthapuram">
          <option value="Kollam">
          <option value="Pathanamthitta">
          <option value="Alappuzha">
          <option value="Kottayam">
          <option value="Idukki">
          <option value="Ernakulam">
          <option value="Thrissur">
          <option value="Palakkad">
          <option value="Malappuram">
          <option value="Kozhikode">
          <option value="Wayanad">
          <option value="Kannur">
          <option value="Kasaragod">
      </datalist>
    </div>
    <button class="signup-button">Sign Up</button>
    <div class="already" >Already have an account? <a href="/buyer/login">log in here</a></div>
  </div>
</div>

<%- include('../components/footer') %>
</body>
</html>