<header>
    <div class="logo">
        <object type="image/svg+xml" data="/images/bl.svg">
            company logo
        </object>
    </div>
    <div class="link-container">
        <ul>
            <li><a href="/home/index.html">home</a></li>
            <li><a href="/about/index.html">about</a></li>
            <li><a href="/contact/index.html">contact</a></li>
        </ul>
    </div>
    <!-- <div class="button-container">
        <div class="circle">
            <object  type="image/svg+xml" data="/images/profileblack.svg">
           profile logo
       </object>
        <button class="login">log in</button>
        <button class="signup">sign up</button>
    </div> 
    </div> -->
</header>